@model WebApplication8.Models.Pilote

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pilote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom_pil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_pil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom_pil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom_pil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ville_Domicile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ville_Domicile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salaire)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Num_pil }) |
    @Html.ActionLink("Back to List", "Index")
</p>
